body {
    font-family: Arial;
    background: #FFFFFF;
    color: white;
    text-align: center;
}

header {
    background: #1e1e1e;
    padding: 20px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: orange;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: red;
}

body{
    margin:0;
    font-family:Arial;
}

/* NAVBAR */

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:12px 40px;
    background:#eaeaea;
}

/* LOGO */

.logo img{
    height:40px;
}

/* RIGHT MENU */

.nav-right{
    display:flex;
    align-items:center;
}

/* SEARCH */

.search-box input{
    width:320px;
    padding:10px 15px;
    border-radius:25px 0 0 25px;
    border:1px solid #bbb;
    outline:none;
}

/* LOGIN BUTTON */

.login-btn{
    padding:10px 20px;
    border-radius:0 25px 25px 0;
    border:1px solid #3f3cff;
    background:white;
    color:#3f3cff;
    font-weight:bold;
    cursor:pointer;
}

.login-btn:hover{
    background:#3f3cff;
    color:white;
}
